html {
    font-size: 16px;
}



body {
    font-family: 'Antic Slab', serif;
    font-weight: 400;
    background-color: black;
    color: white;
}

.header {
    display: flex;
    flex-direction: column;
    height: 12rem;
}

.header h1 {
    display: block;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    font-size: 6rem;
    font-weight: 400;
    margin: .5rem 0 0 0;
}


.header h3 {
    display: block;
    text-align: center;
    font-family:  'Reenie Beanie', cursive;
    color: lightgray;
    font-size: 3rem;
    font-weight: 100;
    margin: 0 0 1rem 0;
}

@media only screen and (min-width: 150px) and (max-width:480px) {
    .header h1 {
        font-size: 4.5rem;
    }

    .header h3 {
        font-size: 2rem;
    }

}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.navbar a {
    text-decoration: underline;
    cursor: pointer;
    color: black;
    margin: 0;
    width: 100%;
}

@media only screen and (min-width: 150px) and (max-width: 480px) {
    .navbar a {
        font-size: .8rem;
    }
}


.banner {
    display: flex;
    height: 25rem;
    margin-top: 3rem;
    background-image: url(back1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .banner-text {
    width: 100%;
    height: 5rem;
    position: relative;
    top: 75%;
    left: auto;
    text-align: center;
    background-color: white;
    color: black;
    opacity: 0.5;
}

.banner-text h3 {
    font-family: 'Stalemate', cursive;
    font-size: 3rem;
    margin: 0 0 0 0;
    padding: 0;
}

.banner-text h5 {
    font-size: 1rem;
    padding: 0;
    margin-top: -.9rem;
}

.content {
    background-color: white;
}

.content h3 {
    color: black;
    text-align: center;
    padding: 1rem 0 1rem 0;
    font-size: 2rem;
}

.products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.category {
    display: flex;
    flex-direction: column;
    
    color: black;
    text-align: center;
    
}

.category img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.members h3 {
    padding: .5rem 0;
    border-top: 6rem solid black;
    margin: 0;
}

.team {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    justify-content: space-evenly;
    color: white;
    font-weight: 700;
}

.team h3 {
    background-color: white;
    padding: 0.5rem 0;
    margin: 0;
}


.worker {
    display: flex;
    flex-direction: column;
    flex-shrink: 3;
    text-align: center;
}

.worker img {
    width: 7rem;
    height: 7rem;
    margin-top: 1rem;
    object-fit: cover;
    border: 3px solid black;
    border-radius: 50%;

}

@media only screen and (max-width: 300px) {
    .worker img {
        width: 3.2rem;
        height: 3.2rem;
    }

    .worker p {
        font-size: 0.4rem;
        text-align: center;
    }
}   

@media only screen and (min-width: 301px) and (max-width: 450px) {
    .worker img {
        width: 3.6rem;
        height: 3.6rem;
        align-self: center;
    }

    .worker p {
        font-size: 0.6rem;
        text-align: center;
    }
}   

@media only screen and (min-width: 451px) and (max-width: 650px) {
    .worker img {
        width: 4.6rem;
        height: 4.6rem;
        align-self: center;
    }

    .worker p {
        font-size: .8rem;
        text-align: center;
    }
}   


.contact {
    background-color: white;
    color: black;
    text-align: center;
    padding-bottom: .7rem;
}

.contact h5 {
    display: block;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    color: black;
    font-size: 2rem;
    font-weight: 400;
    margin: 1rem 0 0 0;
    padding-top: 1rem;
    padding-bottom: 0;
}

.contact h6 {
    font-family: 'Reenie Beanie', cursive;
    color: black;
    text-align: center;
    font-size: 1.5rem;
    padding-top: -0.5rem;
    padding-bottom: .5rem;
    margin: 0;
}

.copyright {
    text-align: center;
    font-size: 1.2rem;
}

.copyright h6 {
    margin: 0%;
    padding: .1rem;
}

